body {
    margin-top: 70px;
}
.jumbotron {
    color:#3b5577;
}

.btn {
    font-size: 10px;
}

.navbar-inverse {
background-color: #3b5577;
}

.nav-link {
    color:white !important;
}

.nav-link {
    color:white;
}

.navbar-inverse .navbar-brand {
color:white;
}

